/* next, add margins for the borders of each section, alignment*/
body {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	width: 960px;
}

h1 {
	margin-left: 15%;
	margin-right: 50%;
	font-family: "Georgia", Times, Times New Roman, serif;
	color: #ffffff;
	background-color: #4aaaa5;
	border-color: #cccccc;
	text-align: center;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}

h2 {
	color: #4aaaa5; 
}

h3 {
	color: #77777;
	text-align: right;
	text-orientation: 
}

p{
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #77777;
	background-color: #ffffff;
	border-color: #cccccc;
	width: 60%;
}

.Bio{
	background-color: #ffffff;
	border: 3px solid #cccccc;
	text-align: left;
	float: left;
	padding: 10px;
	margin-left: 15%;
	margin-right: 40%;
}

#Profile {
	display: inline-block;
	width:128px;
	height:128px;
}

/* Better to create a class instead of different ids?*/
#LIicon {
	width:40px;
	height:40px;
	display: inline;
	float: center;
}

#SOicon {
	width:40px;
	height:40px;
	display: inline;
	float:right;
}

#GHicon {
	width:40px;
	height:40px;
	display: inline;
	float: left;
}

.sidebar {
	background-color: #ffffff;
	border: 3px solid #cccccc;
	text-align: left;
	float: right;
	padding: 10px;
}

.pagelinks{
/*come back to this*/
}

/* sticky footer */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
/*
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;

}

.footer, .push {
	height: 4em;
	background-color: #666666;
} 
*/